@model NoteViewModel

@{
    ViewData["Title"] = "Create";
}


<section class="clearfix bg-dark listingSection" id="listing-add-edit">
    <!-- LOGIN  MODAL -->
    <div class="modal-dialog">
        @*@await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])*@
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a asp-controller="Home" asp-action="Index" class="close" data-dismiss="modal">x</a>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Create new account</h4>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger-custom"></div>
                <form id="submit-form" asp-area="Manager" asp-controller="Notes" asp-action="Create" enctype="multipart/form-data" method="post" class="loginForm">
                    <div class="form-group">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <textarea asp-for="Description" class="form-control" placeholder="Please enter a description"></textarea>
                        <span asp-validation-for="Description" class="text-danger-custom"></span>
                    </div>
                    @*<div class="contactSelect">
                        <select asp-for="NoteCategoryName" class="form-control">
                            <option value="Moderator">Role: Moderator</option>
                            <option value="Manager">Role: Manager</option>
                            <option value="Admin">Role: Admin</option>
                        </select>
                    </div>*@

                   
                        @*<label for="listingCategory">Category</label>*@
                    <div style="padding-bottom:9%">
                        <div class="contactSelect">
                            <select name="guiest_id9" class="select-drop">
                                <option value="0">All Category</option>
                                <option value="1">Restaurant</option>
                                <option value="2">Bar</option>
                                <option value="3">Cafe</option>
                            </select>
                        </div>
                    </div>

                    <div class=margin-custom-5>
                        <div class="form-group">
                            <i class="fa fa-picture-o color-white" aria-hidden="true"></i>
                            <label asp-for="NoteImage" class="btn btn-primary-custom">Upload Image</label>
                            <input class="display-none" asp-for="NoteImage" accept="image/*" />
                        </div>
                    </div>
                    <div class="margin-5">
                        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                        <div class="margin-5">
                            @{ var referrer = this.Context.Request.Headers["Referer"]; }
                            @if (referrer != default(StringValues))
                            {
                                <a href="@referrer.ToString()">Go Back</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- DASHBOARD ORDERS SECTION -->

@section Scripts {
    <script src="~/assets/js/custom.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
