@model IndexNoteViewModel
<!-- Dashboard header -->

<section class="clearfix bg-dark listyPage">
    <div class="container">
        <div class="row">
            <!-- Start Search Menu -->
            @await Html.PartialAsync("_SearchMenuPartial", Model)
            <!-- End Search Menu -->
            <div class="col-xs-12">
                <div class="table-responsive-md font-custom" id="note-partial-holder">
                    @await Html.PartialAsync("_NoteListPartial", Model.SearchModel)
                    @*@await Html.PartialAsync("_NotesTablePartial", Model)*@
                </div>
            </div>
        </div>
    </div>

    @*<div class="paginationCommon blogPagination text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>*@

</section>
@await Html.PartialAsync("_FooterPartial", Model)


<!-- Start Note Modal -->
@await Html.PartialAsync("_CreateNoteModalPartial", Model.Note)
<!-- End Note Modal -->
<!-- Start Note Modal -->
@await Html.PartialAsync("_EditModalPartial")

<!-- End Note Modal -->
<!-- Start Login Logbook -->
@await Html.PartialAsync("_LogbookModalPartial")
<!-- End Login Logbook -->


@section Scripts{


    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#ordersTable').DataTable({
                    responsive: true,
                    stateSave: true
                });
            });
        </script>*@

    @**<script type="text/javascript">
            function autoRefreshPage() {

                window.location = window.location.href;
            }
            setInterval('autoRefreshPage()', 10000);
        </script>*@
    @*<script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#ordersTable').DataTable({
                    responsive: true,
                    stateSave: true
                });
            });
        </script>*@

    <script type="text/javascript"
            src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".comment").shorten({
                "showChars": 100,
                "moreText": "More",
                "lessText": "Less",
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.image-link').magnificPopup({ type: 'image' });
        });
    </script>
}



