@model BusinessUnitViewModel
<!-- BusinessUnit Modal -->
<div class="modal fade" id="myModalBusinessUnit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a business unit</h4>
            </div>
            <div class="modal-body">
                <div class="text-danger-custom"></div>
                <form id="create-business-unit" asp-area="Admin" asp-controller="BusinessUnits" asp-action="Create" enctype="multipart/form-data" method="post" class="loginForm">
                    <div class="form-group">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input asp-for="Name" class="form-control" id="name-business" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger-custom"></span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <textarea asp-for="Information" id="information-create" class="form-control" placeholder="Information"></textarea>
                        <span asp-validation-for="Information" class="text-danger-custom"></span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <input asp-for="Address" class="form-control" id="address" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger-custom"></span>
                        <span class="text-danger-custom"></span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <input asp-for="PhoneNumber" class="form-control" id="phoneNumber" placeholder="Phone number">
                        <span asp-validation-for="PhoneNumber" class="text-danger-custom"></span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input asp-for="Email" class="form-control" id="email-business" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger-custom"></span>
                    </div>

                    <select id="towns-selector" class="form-control" asp-for="TownId"></select>

                    <select id="business-unit-categories-selector" class="form-control margin-5" asp-for="CategoryId"></select>
                    <label name="Picture" class="btn btn-primary-custom browse margin-5">Upload Image</label>
                    <input type="file" name="BusinessUnitPicture" class="btn btn-primary file" accept="image/*">

                    <div class="margin-5">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        <div class="margin-5">
                            @{ var referrer = this.Context.Request.Headers["Referer"]; }
                            @if (referrer != default(StringValues))
                            {
                                <a href="@referrer.ToString()">Go Back</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End BusinessUnit Modal -->