@model LogbookViewModel
<!-- Remove Manager From Logbook Modal -->
<div class="modal fade" id="myModalRemoveManager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose manager to remove from logbook</h4>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger-custom"></div>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="loginForm">
                    <select id="manager-selector" class="form-control" asp-for="ManagerId"></select>
                    <div class="margin-5">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                        <div class="margin-5">
                            @{ var referrer = this.Context.Request.Headers["Referer"]; }
                            @if (referrer != default(StringValues))
                            {
                                <a href="@referrer.ToString()">Go Back</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Remove Manager From Logbook Modal -->
