@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="page-error-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>404</h1>
                <p>Oops, something went wrong...</p>
            </div>
        </div>
    </div>
</section>
