.text-danger-custom {
    /*color: #2196f3*/
    /*color: rgba(187,22,84,0.8);*/
    color:red;
}

.btn-primary-custom {
    background-color: #2196f3;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.btn-primary-custom-1 {
    background-color: #2196f3;
    transition: all 0.3s ease-in-out;
    width: 567px;
    
}

.no-padding {
    padding: 0px;
}

.logout-btn {
    padding: 0px;
    height: 30px !important;
    color: #848484 !important;
    letter-spacing: 0px;
    padding: 10px 20px 20px /*20px*/;
    /*font-size: 14px;*/
    font-family: 'Muli', sans-serif;
    float: none;
    text-transform: none;
    text-decoration: none !important;
}


button.logout-btn:hover {
    color: #2196f3 !important;
    text-decoration:none;
}

.margin-custom-5 {
    margin-top: 6%;
    width: 100%;
}

.margin-top-15 {
    margin-bottom: 10%;
    width: 100%;
}

.display-none{
    display:none !important;
}

.alert-success-custom {
    color: white;
    background-color: black;
    /*background-color: #ff9800;*/
    border-color: #d6e9c6;
}

.color-white{
    color:white;
}

.footer-bg-image {
    background-image: url(../img/background/bg-footer.jpg);
}

.button-custom{
    width:100%;
    height:20% !important;
}

.btn-custom {
    width: 100% !important;
    padding: 6px 0 !important;
    font-size: 11px !important;
    margin-top:10% !important;
}

.font-custom {
    color: black;
    /*font-size: 15px !important;*/
    /*padding:10px;*/
}

.new-line {
    /*max-width: 100px;*/
    /*max-width: 50em;*/
    max-width: 40ch;
    word-wrap: break-word;
}

#form1 {
    display: none;
}

#MyForm {
    display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

.avoid-clicks {
    pointer-events: none;
}

.btn-primary-custom:hover .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.btn-change {
    height: 50px;
    width: 100px;
    background: lightseagreen;
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}


/*.btn-new {
    border: 0px !important;
    border-radius: 2px !important;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.14), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.btn-default:hover {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
}

.btn-primary-new {
    background-color: #1565C0;
}

    .btn-primary:hover {
        background-color: #1565C0;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
    }

.btn-success-new {
    background-color: #4CAF50;
}

    .btn-success:hover {
        background-color: #4CAF50;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
    }

.btn-info-new {
    background-color: #03A9F4;
}

    .btn-info:hover {
        background-color: #03A9F4;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
    }

.btn-warning-new {
    background-color: #FFB300;
}

    .btn-warning:hover {
        background-color: #FFB300;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
    }

.btn-danger-new {
    background-color: #FF3D00;
}

    .btn-danger:hover {
        background-color: #FF3D00;
        box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
    }*/

.margin-10 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.button-new {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
    .button-new:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }