@model NoteViewModel

<!-- Note Modal -->
<div class="modal fade" id="myModalNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        @*@await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])*@
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<a class="close" data-dismiss="modal">x</a>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create note</h4>
            </div>
            <div class="modal-body">
                <div class="text-danger-custom"></div>
                <form id="create-note" enctype="multipart/form-data" asp-area="Manager" asp-controller="Notes" asp-action="Create" method="post" class="loginForm">
                    <div class="form-group">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <textarea data-val-required="true" asp-for="Description" class="form-control" placeholder="Please enter a description"></textarea>
                        <span asp-validation-for="Description" class="text-danger-custom"></span>
                    </div>
                    <div style="padding-bottom:9%">
                        <div class="contactSelect">
                            <select name="CategoryName" class="select-drop">
                                <option value="0">Select Category</option>
                                <option value="1">Restaurant</option>
                                <option value="2">Bar</option>
                                <option value="3">Cafe</option>
                            </select>
                        </div>
                    </div>
                    <label name="Image" class="btn btn-primary-custom browse margin-5">Upload Image</label>
                    <input type="file" name="NoteImage" class="btn btn-primary file" accept="image/*">

                    <div class="margin-5">
                        <button type="submit" asp-area="Manager" asp-controller="Notes" asp-action="Create" class="btn btn-primary btn-block">Submit</button>
                        <div class="margin-5">
                            @{ var referrer = this.Context.Request.Headers["Referer"]; }
                            @if (referrer != default(StringValues))
                            {
                                <a href="@referrer.ToString()">Go Back</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Note Modal -->