@model IndexNoteViewModel

<!-- LOGBOOK  MODAL -->
<div class="modal fade" id="myModalLogbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose logbook</h4>
            </div>
            <div class="modal-body">
                <form id="submit-form-logbook" asp-area="Manager" asp-controller="Users" asp-action="SwitchLogbook" method="post" class="loginForm">
                    <select id="logbooks-selector" class="form-control" name="CurrentLogbookId"></select>
                    <div class="margin-5">
                        <button type="submit"  class="btn btn-primary btn-block">Save</button>
                        <div class="margin-5">
                            @{ var referrer = this.Context.Request.Headers["Referer"]; }
                            @if (referrer != default(StringValues))
                            {
                                <a href="@referrer.ToString()">Go Back</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

