@model IndexNoteViewModel

<div class="col-xs-12">
    <div class="dashboardBoxBg mb30">
        <div class="profileIntro">
            <div class="row font-custom">
                <div class="row">
                    <form class="example" id="search-notes-form" asp-area="Manager" asp-controller="Notes" asp-action="Search" asp-for="@Model" method="get">
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="dateAdded">Start Date</label>
                            <div class="dateSelect">
                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                    <input name="StartDate" type="text" class="form-control" placeholder="mm/dd/yyyy">
                                    <div class="input-group-addon">
                                        <i class="icon-listy icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="dateModified">End Date</label>
                            <div class="dateSelect">
                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                    <input name="EndDate" type="text" class="form-control" placeholder="mm/dd/yyyy">
                                    <div class="input-group-addon">
                                        <i class="icon-listy icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="dateModified">Category</label>
                            <div class="contactSelect">
                                <select name="CategoryId" id="category-id-from-selector" class="select-drop">
                                    <option value="null" selected @*disabled*@ hidden>Select Category</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        {
                                            <option value="@category.CategoryId">@category.CategoryName</option>
                                        }
                                    })

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="amount">Search</label>
                            <div class="input-group">
                                <input type="text" asp-for="SearchCriteria" class="form-control width-100" id="search-for-note-phrase" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default width-100" type="submit"><i class="icon-listy icon-search-2"></i></button>
                                </span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>*@

                        <span id="anti-forgery-for-note-search">@Html.AntiForgeryToken()</span>
                    </form>
                </div>
            </div>
            <span class="btn-group btn-panel">
                <a asp-area="Manager" asp-controller="Notes" asp-action="NotesForDaysBefore" class="btn btn-primary active">Daily</a>
                <a asp-area="Manager" asp-controller="Notes" asp-action="NotesForDaysBefore" asp-route-id="7" class="btn btn-primary">7 Days</a>
                <a asp-area="Manager" asp-controller="Notes" asp-action="NotesForDaysBefore" asp-route-id="30" class="btn btn-primary">30 Days</a>
                <a asp-area="Manager" asp-controller="Notes" asp-action="ActiveNotes" class="btn btn-primary" asp-route-id="3650">Active</a>
                <a asp-area="Manager" asp-controller="Notes" asp-action="Index" class="btn btn-primary">All</a>
            </span>
        </div>
    </div>
</div>

