@model ManagerTaskViewModel

@{
    ViewData["Title"] = "About";

}

<!-- Dashboard header -->
<section class="navbar-dashboard-area">
    <nav class="navbar navbar-default lightHeader navbar-dashboard" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-dash">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-dash">
                <ul class="nav navbar-nav mr0">
                    <li class="">
                        <a href="dashboard.html"><i class="fa fa-tachometer icon-dash" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li class="dropdown singleDro active">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-ul icon-dash" aria-hidden="true"></i> Tasks <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="listings.html">My Tasks</a></li>
                            <li><a href="add-listings.html">All Tasks</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="dashboard-reviews.html" class="scrolling"><i class="fa fa-star-o icon-dash" aria-hidden="true"></i> Reviews</a>
                    </li>
                    <li class="">
                        <a href="oders.html"><i class="fa fa-cogs icon-dash" aria-hidden="true"></i> Orders</a>
                    </li>
                    <li>
                        <a href="dashboard.html#message" class="scrolling">
                            <i class="fa fa-envelope icon-dash" aria-hidden="true"> </i>
                            Messages
                        </a>
                    </li>
                    <li class="">
                        <a href="profile.html"><i class="fa fa-user icon-dash" aria-hidden="true"></i> Personal Details</a>
                    </li>
                </ul>
                <div class="row adjustRow">
                    <div class="pull-right col-xs-12 col-sm-2">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="q">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="icon-listy icon-search-2"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>


<!-- Dashboard breadcrumb section -->
<div class="section dashboard-breadcrumb-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @*<h2>Add Task</h2>*@
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li class="active">Add Task</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- DASHBOARD ORDERS SECTION -->
<section class="clearfix bg-dark listingSection" id="listing-add-edit">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form action="" enctype="multipart/form-data" method="post" class="listing__form">
                    <div class="dashboardBoxBg mb30">
                        <div class="profileIntro paraMargin">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    @*<label for="discribeTheListing"></label>*@
                                    <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12">
                                    @*<label for="listingTitle">Add Title</label>*@
                                    <input type="text" class="form-control" id="listingTitle" placeholder="Title">
                                </div>
                                <div class="form-group col-sm-6 col-xs-12">
                                    @*<label for="listingCategory">Category</label>*@
                                    <div class="contactSelect">
                                        <select name="guiest_id9" id="guiest_id9" class="select-drop">
                                            <option value="0">All Category</option>
                                            <option value="1">Restaurant</option>
                                            <option value="2">Bar</option>
                                            <option value="3">Cafe</option>
                                        </select>
                                    </div>
                                </div>
                                @*<input type="hidden" asp-for="Image" value="@Model.Image" class="form-control" />*@
                                <div class="form-group col-xs-12">
                                    <label asp-for="TaskImage" class="btn btn-primary-custom">Upload Image</label>
                                    <input style="display: none" asp-for="TaskImage" accept="image/*" />
                                    @*<input type="text" class="form-control" id="addTags" placeholder="Upload Image">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer text-center">
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
