@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(assets/img/banner/banner1.jpg); margin-bottom:0% ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banerInfo">
                    <h1>Explore. Discover. Share</h1>
                    <p>We help you to find out great things arround you</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="bg-search-white">
                    <form class="form-inline" action="listings-half-screen-map-list.html">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your keywords">
                        </div>
                        <div class="form-group">
                            <div class="searchSelectbox">
                                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                                    <option value="0">City</option>
                                    <option value="1">U.S.A</option>
                                    <option value="2">U.K</option>
                                    <option value="3">ASIA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="searchSelectbox">
                                <select name="guiest_id4" id="guiest_id4" class="select-drop">
                                    <option value="0">Category</option>
                                    <option value="1">All Categories 1</option>
                                    <option value="2">All Categories 2</option>
                                    <option value="3">All Categories 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Search </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*</section>**@

    @await Html.PartialAsync("_BusinessUnitsPartial", Model)
</section>

@await Html.PartialAsync("_FooterPartial", Model)





