@model LogbookViewModel
<!-- Dashboard header -->
@if (this.User.IsInRole("Admin"))
{
    <section class="navbar-dashboard-area">
        <nav class="navbar navbar-default lightHeader navbar-dashboard" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-dash">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-dash">
                    <ul class="nav navbar-nav mr0">
                        <li class="">
                            <a data-toggle="modal" id="update-global-button" data-target="#myModalUpdateLogbook"><i class="fa fa-list-ul icon-dash" aria-hidden="true"></i> Update</a>
                        </li>
                        <li class="">
                            <a data-toggle="modal" id="add-manager-global-button" data-target="#myModalAddManager"><i class="fa fa-user icon-dash" aria-hidden="true"></i> Add Manager</a>
                        </li>
                        <li class="">
                            <a data-toggle="modal" id="remove-manager-global-button" data-target="#myModalRemoveManager"><i class="fa fa-user icon-dash" aria-hidden="true"></i> Remove Manager</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
}
<!-- Dashboard header -->
<!-- BLOG DETAILS -->
<section class="clearfix blogDetials">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="thumbnail blogContent">
                    <div class="caption">
                        <h3>@Model.Name</h3>
                        <img src="~/images/@(Model.Picture ?? "noimage.jpg")" alt="Image blog" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Update To Logbook Modal -->
@await Html.PartialAsync("_UpdateLogbookModalPartial", Model)
<!-- End Update To Logbook Modal -->
<!-- Start Add Manager To Logbook Modal -->
@await Html.PartialAsync("_AddManagerModalPartial", Model)
<!-- End Add Manager To Logbook Modal -->
<!-- Start Remove Manager From Logbook Modal -->
@await Html.PartialAsync("_RemoveManagerModalPartial", Model)
<!-- End Remove Manager From Logbook Modal -->
<!-- Start Login Modal -->
@await Html.PartialAsync("_LoginModalPartial", Model)
<!-- End Login Modal -->
<!-- Start Account Modal -->
@await Html.PartialAsync("_CreateAccountModalPartial", Model)
<!-- End Account Modal -->


@section Scripts{

    <script src="~/assets/js/create-review.js"></script>
}

