@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<!-- LOGIN  MODAL -->
<div class="modal-dialog">
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <a asp-controller="Home" asp-action="Index" class="close" data-dismiss="modal">x</a>
            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            <h4 class="modal-title">Manage your account</h4>
        </div>
        <div class="modal-body">
            <div asp-validation-summary="All" class="text-danger-custom"></div>
            <form enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="loginForm">
                <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input readonly asp-for="FirstName" class="form-control" placeholder="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger-custom"></span>
                </div>
                <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input readonly asp-for="LastName" class="form-control" placeholder="LastName">
                    <span asp-validation-for="LastName" class="text-danger-custom"></span>
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger-custom"></span>
                </div>
                <div class="form-group">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                    <span asp-validation-for="PhoneNumber" class="text-danger-custom"></span>
                </div>
                <div class="form-group">
                    <i class="fa fa-image color-white" aria-hidden="true"></i>
                    <label asp-for="UserImage" class="btn btn-primary-custom">Upload Image</label>
                    <input class="display-none" asp-for="UserImage" accept="image/*" />
                </div>
                <div class="margin-5">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                    <div class="margin-5">
                        @{ var referrer = this.Context.Request.Headers["Referer"]; }
                        @if (referrer != default(StringValues))
                        {
                            <a href="@referrer.ToString()">Go Back</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ChangePassword">Change your password</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
